<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="couchD3App" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    
    <couch-json></couch-json>
    <h1>Selector for the graph</h1>
    <h1>Map reduce exemple "Box" you should have for that type of graph to work</h1>


    <!-- Div for the Bar graph and it's controller. -->
    <div ng-controller="BarNvd3Ctrl" ng-show="false">
        <nvd3 options="options" data="discreteBarCharData"></nvd3>
        <h3>
            <span ng-show="details" ng-click="details = false">Show Details</span>
            <span ng-hide="details" ng-click="details = true">Hide details</span>
        </h3>

        <h4 ng-hide="details">General info: {{discreteChartSampleData.details}}</h4>
        <pre ng-hide="details">Value Needed for the graph to display: {{discreteChartSampleData.values | json}}</pre>
        <pre ng-hide="details">Sniped of Value obtained: {{discreteBarCharData[0].values[0] | json}}</pre>
    </div>

    <!-- Div for the Bar graph and it's controller. -->
    <div ng-controller="Linegraphnvd3Ctrl" ng-show="true">
        <nvd3 options="options" data="discreteChartData"></nvd3>
        <h3>
            <span ng-show="details" ng-click="details = false">Show Details</span>
            <span ng-hide="details" ng-click="details = true">Hide details</span>
        </h3>
        <h4 ng-hide="details">General info: {{discreteChartSampleData.details}}</h4>
        <pre ng-hide="details">Value needed for the graph to display: {{discreteChartSampleData.values | json}}</pre>
        <pre ng-hide="details">Sniped of source value in : 
discreteChartData[0].values[0]
            {{discreteChartData[0].values[0] | json}}
            
and discreteChartData[1].values[0] :
            {{discreteChartData[1].values[0] | json}}
        </pre>
    </div>

    <!-- <donut-display ng-repeat="donut in donuts" 
        data="donut" 
        ng-style="{width: 100 / donuts.length + '%'}"
        on-click="chartClicked($index)">
    </donut-display>

    <simple-bar-chart></simple-bar-chart> -->
    

    <!-- To show the user what he receive as data -->
    <!-- <pre>{{donuts | json}}</pre> -->
    <!-- To show a sniped of the data it shoudl have for that graph: -->


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/directives/couch-json.js"></script>
        <script src="scripts/directives/donut-display.js"></script>
        <script src="scripts/directives/simplebarchart.js"></script>
        <script src="scripts/controllers/barnvd3.js"></script>
        <script src="scripts/controllers/linegraphnvd3.js"></script>
        <!-- endbuild -->
</body>
</html>
